:root {
    --color-sidebar: rgb(25 146 212);
    --color-main-content: rgb(226 232 240);
    --color-white: rgb(255 255 255);
    --color-border: rgb(204 209 217);
    --color-highlight: rgb(250 204 21);
}

body {
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    width: 100vw;
    display: grid;
    grid-template: 100px auto / minmax(100px, 250px) 5fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar main-content";
}
